
html{
  font-size:16px;
}
body {
  color: #f0efef;
  font-size: 13px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-size:1.5rem;
}

header h1 {
  float:left;
}
/* Nav */
nav{
  background-size:100% 100%;
  background-color:#bebfb6;
  color:white;
  height:75px;
  line-height:75px;

}
nav a{
   color:white;
   text-decoration:none;
}

nav ol{
  float:right;
  margin: 0px 10px 0px 0px;
  list-style-type: none;
  font-size:16px;
  font-weight:600;

}
nav ol li{
    margin: 0px 10px 0px 10px;
    display:inline;

}
#logo-hdr{
  height:50px;
}
#logo {
  height:50px;
  width:50px;
  display:inline;
  float:left;

}
.nav-search{
  width: 300px;

  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.nav-search .icon{
  position:absolute;
  margin-left: 27px;

  top:50%;
  color: #4f5b66;
}

input[type=search]{
   width: 300px;
height: 30px;
  margin-top:20px;
  margin-left:10px;
border: none;
font-size: 10pt;
float: left;
color: #63717f;
padding-left: 45px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
/* Search */


/* Home Page Banner */

#banner-home{

background-image:url("../images/cooking-college.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center center;
height:400px;
width:100%;
}



/* Search Results */
#search-results{

}

#filters-section{

}
/* Search Results Cards */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:200px;
    float:left;
    padding:20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.card img {
  height:100px;
  width:100px;
}

/* Footer */

.footer-full{
    float:left;
    width:100%;
    background-color:#364b4f;
    text-align:center;
}

footer h1{
  color:#f9e42e;
  padding:20px 20px;
}
footer p{
  color:#606161;
  font-size:9px;
  font-weight:600;
  padding:20px;
}
footer a{
  margin:0px 10px;
}

/* Recipe Details */

.recipe-details {
  float:left
}
#recipe-image {
  float:left;
  margin: 0 10px 10px 10px;
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* The side navigation menu */
.sideMenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #dbac2a; /* Black*/
    opacity:0.99;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  }

.sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1rem;
    margin-left: 50px;
    color:white;
}
.float{
	position:fixed;
  font-size:1.25rem;
	width:60px;
	height:60px;
	top:80px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-menu {padding-top: 15px;}
}
